<body>
    <app-admin-header></app-admin-header>
        <form [formGroup]="loginForm" (ngSubmit)="changePassword()" class="form-inline">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
        <div class="alert alert-success" role="alert" *ngIf="showSuccess">
            Password Updated Successfully ❕❕❕
            <!-- <button class="btn btn-success" id="viewStatus"(click)="viewStatus()">View Status</button> -->
        </div>
    </body>