<body>
<app-dashboard-header></app-dashboard-header>
<br><br>
<!-- <div>
  <ol class="list-group list-group-light list-group-numbered">
    <li class="list-group-item">First Name: {{obj.firstName}}</li>
    <li class="list-group-item">Last Name: {{obj.lastName}}</li>
    <li class="list-group-item">Client ID: {{obj.client_id}}</li>
    <li class="list-group-item">Mobile Number: {{obj.mobileNumber}}</li>
    <li class="list-group-item">Date of Birth: {{obj.date_of_birth}}</li>
    <li class="list-group-item">Email Address: {{obj.email}}</li>
    <li class="list-group-item">Gender: {{obj.gender}}</li>
    <li class="list-group-item">User Name: {{obj.userName}}</li>
    <li class="list-group-item">Password: {{obj.password}}</li>
    <li class="list-group-item">State: {{obj.state}}</li>
    <li class="list-group-item">City: {{obj.city}}</li>
    <li class="list-group-item">Pincode: {{obj.pincode}}</li>
  </ol>
</div>
<table>

</table> -->
<table class="table table-hover table-dark table-striped">
  <tbody>
    <tr class="table-active">
      <td>1. </td>
      <td>First Name</td>
      <td>{{obj.firstName}}</td>
    </tr>
    <tr class="table-active">
      <td>2. </td>
      <td>Last Name</td>
      <td>{{obj.lastName}}</td>
    </tr>
    <tr class="table-active">
      <td>3. </td>
      <td>Client ID</td>
      <td>{{obj.client_id}}</td>
    </tr>
    <tr class="table-active">
      <td>4. </td>
      <td>Mobile Number</td>
      <td>{{obj.mobileNumber}}</td>
    </tr>
    <tr class="table-active">
      <td>5. </td>
      <td>Date of Birth</td>
      <td>{{obj.date_of_birth}}</td>
    </tr>
    <tr class="table-active">
      <td>6. </td>
      <td>Email Address</td>
      <td>{{obj.email}}</td>
    </tr>
    <tr class="table-active">
      <td>7. </td>
      <td>Gender</td>
      <td>{{obj.gender}}</td>
    </tr>
    <tr class="table-active">
      <td>8. </td>
      <td>User Name</td>
      <td>{{obj.userName}}</td>
    </tr>
    <tr class="table-active">
      <td>9. </td>
      <td>Password</td>
      <td>{{obj.password}}</td>
    </tr>
    <tr class="table-active">
      <td>10. </td>
      <td>State</td>
      <td>{{obj.state}}</td>
    </tr>
    <tr class="table-active">
      <td>11. </td>
      <td>City</td>
      <td>{{obj.city}}</td>
    </tr>
    <tr class="table-active">
      <td>12. </td>
      <td>Pincode</td>
      <td>{{obj.pincode}}</td>
    </tr>

  </tbody>
</table>
</body>
<!-- <div>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">1. First Name: {{obj.firstName}}</li>
    <li class="list-group-item"> </li>
    <li class="list-group-item"></li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">2.</li>
    <li class="list-group-item">Last Name: </li>
    <li class="list-group-item">{{obj.lastName}}</li>
  </ul>
  <ul class="list-group list-group-horizontal-md">
    <li class="list-group-item">3.</li>
    <li class="list-group-item">Client ID: </li>
    <li class="list-group-item">{{obj.client_id}}</li>
  </ul>
  <ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item">4.</li>
    <li class="list-group-item">Mobile Number: </li>
    <li class="list-group-item">{{obj.mobileNumber}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">5.</li>
    <li class="list-group-item">Date of Birth: </li>
    <li class="list-group-item">{{obj.date_of_birth}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">6.</li>
    <li class="list-group-item">Email Address: </li>
    <li class="list-group-item">{{obj.email}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">7.</li>
    <li class="list-group-item">Gender: </li>
    <li class="list-group-item">{{obj.gender}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">8.</li>
    <li class="list-group-item">User Name: </li>
    <li class="list-group-item">{{obj.userName}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">9.</li>
    <li class="list-group-item">Password: </li>
    <li class="list-group-item">{{obj.password}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">10.</li>
    <li class="list-group-item">State: </li>
    <li class="list-group-item">{{obj.state}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">11.</li>
    <li class="list-group-item">City: </li>
    <li class="list-group-item">{{obj.city}}</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">12.</li>
    <li class="list-group-item">Pincode: </li>
    <li class="list-group-item">{{obj.pincode}}</li>
  </ul>
</div> -->
