<body>
<app-admin-header></app-admin-header>
<br><br>
<!-- <div>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item">1. </li>
    <li class="list-group-item">Admin ID </li>
    <li class="list-group-item">{{obj.adminId}}</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">2.</li>
    <li class="list-group-item">Admin Username </li>
    <li class="list-group-item">{{obj.adminUserName}}</li>
  </ul>
  <ul class="list-group list-group-horizontal-md">
    <li class="list-group-item">3.</li>
    <li class="list-group-item">Admin Password</li>
    <li class="list-group-item">{{obj.adminPassword}}</li>
  </ul>
</div> -->

<table class="table table-hover table-dark table-striped">
  <tbody>
    <tr class="table-active">
      <td>1. </td>
      <td>Admin ID </td>
      <td>{{obj.adminId}}</td>
    </tr>
    <tr class="table-active">
      <td>2. </td>
      <td>Admin Username </td>
      <td>{{obj.adminUserName}}</td>
    </tr>
    <tr class="table-active">
      <td>3. </td>
      <td>Admin Password</td>
      <td>{{obj.adminPassword}}</td>
    </tr>

  </tbody>
</table>
  
</body>