body{
    height: 620px;
    background-color: #919191;
}
form{
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: black;
    margin-top:10%;
    margin-left:35%;
    border-radius: 10px;
}
label{
    margin:10px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
input{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:300px;
}
button{
    margin: 10px;
}

.alert-success{
    width: 300px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 7px;
    z-index: 10;
}
/* #viewStatus{
    margin-left: 65px;
    margin-top: 10px;
} */
/* }
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
   */